<div class="menu">
  <% if current_rich_cms_admin %>
    <%= link "Mark copy", :class => "mark" %>
  <% end %>
  
  <% unless current_rich_cms_admin %>
    <%= link "Login" %>
  <% else %>
    <div class="admin">
      Logged in as <strong><%= current_rich_cms_admin_name %></strong>
      &nbsp;&nbsp;
      <%= link_to "Hide"  , rich_cms_hide_path   %>
      <%= link_to "Logout", rich_cms_logout_path %>
    </div>
  <% end %>
</div>