<div class="content">
  <div class="left">
    <%= rich_cms_tag "header"                , :tag => :h1   %>
    <%= rich_cms_tag "cms_content", "content", :as  => :html %>
    <h2>Mustache content</h2>
    <p>
      <%= rich_cms_tag "mustache1", :as => :html, :locals => {:name => "Vicky"} %>
    </p>
    <h2>People</h2>
    <ul class="people">
      <%= rich_cms_tag "person", :as => :html, :tag => :li, :collection => @people %>
    </ul>
  </div>
  <ul class="sidebar">
    <li>
      <%= link_to rich_cms_tag("rcms_content", "Home"), "#" %>
    </li>
    <li>
      <%= link_to "GemSuit", "https://github.com/archan937/gem_suit" %>
    </li>
    <li>
      <%= link_to "Rich-CMS", "https://github.com/archan937/rich_cms/tree/edge" %>
    </li>
    <% ["Documentation", "Support", "About me"].each do |x| %>
    <li>
      <%= link_to rich_cms_tag("rcms_content", x), "#" %>
    </li>
    <% end %>
  </ul>
</div>