<html>
  <head>
    <title>Test Application - Rails <%= Rails::VERSION::STRING %> - <%= Rich::Cms::Auth.logic.try(:to_s).try(:classify) || "Non authenticated" %></title>
    <%= stylesheet_link_tag "app" %>
  </head>
  <body>
    <%= rich_cms %>
    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>